{% extends "navbar.html" %}
{% block content %}
<style>
	.jumbotron{
max-width:700px;
margin:auto;
}
</style>
<link rel="stylesheet" href="../static/coronacarecss.css">
	<br><br><br><br>

	
	<div class="jumbotron">
		<h1>Welcome to thie Log in page!</h1>
		<!-- <p>Fill out the form</p> -->
		<!-- <form action="{{url_for('login')}}"> -->
			<label for="emailid">Email:</label>
            <input type="text" id="emailid" name="emailid" value"" placeholder="name@email.com">
            <br>
            <label for="passid">Password:</label>
            <input type="text" id="passid" name="passid" value="">
            <br>
			<input type="submit" value="Submit Form">
		</form>
	</div>
	</body>
</html>

{% endblock %}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	