{% extends "navbar.html" %}
{% block content %}
<link rel="stylesheet" href="../static/coronacarecss.css">
	<br>
		<h1 style="text-align:center;">Preventions to take for Covid 19</h1>
		<h2 style="text-align:center;">Advice for the Public</h2>
		<h5 style="text-align:center;">Help stop corona virus</h5>
		<br>
		<br>
		 <style>
			li {list-style-position: inside;}
		</style>
		<div>
		<ol>
			<li style="text-align:center;"><strong>STAY</strong> home as much as you can.</li>
			<li style="text-align:center;"><strong>KEEP</strong> a safe distance.</li>
			<li style="text-align:center;"><strong>WASH</strong> your hands often.</li>
			<li style="text-align:center;"><strong>COVER</strong> your cough.</li>
			<li style="text-align:center;"><strong>SICK?</strong> Call ahead.</li>
		</ol>
		</div>
{% endblock %}
