
<!--1031P-->
       {% if output_det[1] == 1 and output_det[1] == 0 and output_det[3] == 3 and output_det[4] == 1 and output_det[0][-1] == 'P' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
       Based on the results obtained from the above performed tests, your temperature is mild.<br>
Your oximeter reading is good and clear.<br>
Your spirometer reading is however critical.<br>
The chest X-Ray shows that there are some amount of fluids filled in the lungs area.<br>
You do seem to show most symptoms and therefore have a very critical case of the coronavirus.<br>
Avoid Contact with others.<br>
Make sure to inform people who had close contact with you to get tested.<br>
Isolate yourself and Go visit your nearest Covid-19 hospital immediately.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Critical Case.</p>

{% endif %}
<!--1100N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 0 and output_det[4] == 0 and output_det[0][-1] == 'N' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading is mild and spirometer reading is promisingly good.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
Staying in home quarantine should be fine.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be mild, try staying at home and consult doctor if situation worsens.</p>
{% endif %}
<!--1100P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 0 and output_det[4] == 0 and output_det[0][-1] == 'P' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading is mild and spirometer reading is promisingly good.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
You do not have any serious symptoms of coronavirus.<br>
Staying in home quarantine should be fine.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Very mild case.</p>
{% endif %}
<!--1101N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 0 and output_det[4] == 1 and output_det[0][-1] == 'N' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
    Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading is mild and spirometer reading is promisingly good.<br>
The chest X-Ray shows that there are some fluids filled in the lungs area.<br>
Try approaching the nearest medical camp in your locality.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be moderate,try consulting your nearest medical camp.</p>
{% endif %}
<!--1101P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 0 and output_det[4] == 1 and output_det[0][-1] == 'P' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
     Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading is mild and spirometer reading is promisingly good.<br>
The chest X-Ray shows that there are some fluids filled in the lungs area.<br>
You do not have any serious symptoms and therefore have a very mild case of the coronavirus.<br>
Try approaching the nearest medical camp in your locality.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Very mild case.</p>
{% endif %}
<!--1110N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 1 and output_det[4] == 0 and output_det[0][-1] == 'N' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
      Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading and spirometer reading are mild.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
Try approaching the nearest medical camp in your locality. <br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be moderate,try consulting your nearest medical camp.</p>
{% endif %}
<!--1110P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 1 and output_det[4] == 0 and output_det[0][-1] == 'P' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
      Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading and spirometer reading are mild.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
You do not have any serious symptoms and therefore have a very mild case of the coronavirus.<br>
Try approaching the nearest medical camp in your locality. <br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Very mild case.</p>
{% endif %}
<!--1111N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 1 and output_det[4] == 1 and output_det[0][-1] == 'N' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
      Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading and spirometer reading are mild.<br>
The chest X-Ray shows that there are some fluids filled in the lungs area.<br>
You have symptoms of corona<br>
Try approaching the nearest medical camp in your locality.<br>

    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be moderate,try consulting your nearest medical camp as soon as possible.</p>
{% endif %}
<!--1111P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 1 and output_det[4] == 1 and output_det[0][-1] == 'P' -%}

        <h3>Medical Condition Details : </h3><br>
    <p>
      Based on the results obtained from the above performed tests, your temperature is a bit high.<br>
Your oximeter reading and spirometer reading are mild.<br>
The chest X-Ray shows that there are some fluids filled in the lungs area.<br>
You have symptoms of corona<br>
Try approaching the nearest medical camp in your locality.<br>

    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Moderate case.</p>
{% endif %}
<!--1120N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 2 and output_det[4] == 0 and output_det[0][-1] == 'N' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
       Based on the results obtained from the above performed tests, your temperature is bit high.<br>
Your oximeter reading is mild and your spirometer reading is moderate.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
Try approaching the nearest medical camp in your locality. <br>

    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be bit critical,try approaching your nearest medical camp at the earliest.</p>

{% endif %}
<!--1120P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 2 and output_det[4] == 0 and output_det[0][-1] == 'P' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is bit high.<br>
        Your oximeter reading is mild and your spirometer reading is moderate.<br>
The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
It is a bit critical case of corona.<br>
Try approaching the nearest medical camp in your locality.<br>

    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Critical case.</p>

{% endif %}
<!--1121N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 2 and output_det[4] == 1 and output_det[0][-1] == 'N' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
      Based on the results obtained from the above performed tests, your temperature is bit high.<br>
        Your oximeter reading is mild and your spirometer reading is moderate.<br>
The chest X-Ray shows that there are some amount of fluids filled in the lungs area.<br>
Try approaching the nearest medical camp in your locality as soon as possible. <br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Your corona report seems to be bit critical,try consulting the nearest medical camp in your locality at the earliest.</p>
{% endif %}
<!--1121P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 2 and output_det[4] == 1 and output_det[0][-1] == 'P' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
       Based on the results obtained from the above performed tests, your temperature is bit high.<br>
        Your oximeter reading is mild and your spirometer reading is moderate.<br>
        The chest X-Ray shows that there are some amount of fluids filled in the lungs area.<br>
        It is a critical case of corona.<br>
        Try approaching the nearest medical camp in your locality as soon as possible.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Critical case.</p>
{% endif %}

    <!--1130N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 3 and output_det[4] == 0 and output_det[0][-1] == 'N' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is mild.<br>
        Your oximeter reading is mild.<br>
        Your spirometer reading is however critical.<br>
        The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
        You do seem to show most symptoms.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Avoid Contact with others.<br>
        Make sure to inform people who had close contact with you to get tested.<br>
        Isolate yourself and Go visit your nearest Covid-19 hospital immediately</p>

{% endif %}
    <!--1130P-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 3 and output_det[4] == 0 and output_det[0][-1] == 'P' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is mild.<br>
        Your oximeter reading is mild.<br>
        Your spirometer reading is however critical.<br>
        The chest X-Ray shows that there are no fluids filled in the lungs area.<br>
        You do seem to show most symptoms and therefore have a very critical case of the coronavirus.<br>
        Avoid Contact with others.<br>
        Make sure to inform people who had close contact with you to get tested.<br>
        Isolate yourself and Go visit your nearest Covid-19 hospital immediately.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Critical Case</p>
{% endif %}

    <!--1131N-->
       {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 3 and output_det[4] == 1 and output_det[0][-1] == 'N' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
        Based on the results obtained from the above performed tests, your temperature is mild.<br>
        Your oximeter reading is mild.<br>
        Your spirometer reading is however critical.<br>
        The chest X-Ray shows that there are some amount of fluids filled in the lungs area.<br>
        You do seem to show most symptoms.<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Avoid Contact with others<br>
        Make sure to inform people who had close contact with you to get tested.<br>
        Isolate yourself and Go visit your nearest Covid-19 hospital immediately.</p>

{% endif %}

    <!--1131P-->
    {% if output_det[1] == 1 and output_det[1] == 1 and output_det[3] == 3 and output_det[4] == 1 and output_det[0][-1] == 'P' -%}



        <h3>Medical Condition Details : </h3><br>
    <p>
            Based on the results obtained from the above performed tests, your temperature is mild.<br>
Your oximeter reading is mild.<br>
Your spirometer reading is however critical<br>
The chest X-Ray shows that there are some amount of fluids filled in the lungs area.<br>
You do seem to show most symptoms and therefore have a very critical case of the coronavirus.<br>
Avoid Contact with others<br>
Make sure to inform people who had close contact with you to get tested<br>
Isolate yourself and Go visit your nearest Covid-19 hospital immediately<br>
    </p>

        <h3>Precautions : </h3><br>
    <ul>
		<li>Practice self quarantine</li>
		<li>Avoid contact with people</li>
		<li>Wearing a mask is a must. </li>
		<li>Cover your cough or sneeze with a tissue , then throw the tissue in the trash and wash your hands.</li>
		<li>Intake of three healthy meals every day.</li>
		<li>Keep sanitizing your hands</li>
		<li>Keep monitoring your symptoms and do e-consult your doctor if in case of any abnormalities in your condition.</li>
		<li>Get plenty of rest</li>
		<li>Drink fluids.</li>

	</ul>

    <h3>Result :</h3>
    <p>Moderate condition</p>
{% endif %}

