{% extends "navbar.html" %}
{% block content %}

<link rel="stylesheet" href="../static/coronacarecss.css">
	<br><br><br><br>
	<br><br><br><br>
	
	<div class="jumbotron">
		<h1>Welcome to thie sign up page!</h1>
		<p>Fill out the form</p>
		<form action="\thankyou">
			<label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" value="" placeholder="First Name"/>
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" value="" placeholder="Last Name"/>
            <br><br>
            <label for="emailid">Email:</label>
            <input type="text" id="emailid" name="emailid" value="" placeholder="name@email.com"/>
            <label for="passid">Password:</label>
            <input type="text" id="passid" name="passid" value=""/>
			<input type="submit" value="Submit Form">
		</form>
	</div>


{% endblock %}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	